nav.nav-custom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 40px 0;
}

.nav-left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links-custom {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
